/* CSS 样式 */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  position: relative; /* 设置相对定位 */
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  transform: translateX(0%); /* 将文本向右移动四分之一屏幕的距离 */
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #555;
}
